/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/
@import url("https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;400;700&display=swap");
html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline; }

/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block; }

body {
  line-height: 1; }

ol,
ul {
  list-style: none; }

blockquote,
q {
  quotes: none; }

blockquote:before,
blockquote:after,
q:before,
q:after {
  content: '';
  content: none; }

table {
  border-collapse: collapse;
  border-spacing: 0; }

html {
  font-family: 'Open Sans';
  font-weight: 300;
  font-size: 0.85rem;
  color: #616161; }

* {
  color: #707070; }

html {
  font-size: 10/16rem; }

body {
  display: grid;
  grid-template-areas: "header header header" "main main main" "main main main" "main main main" "main main main" "main main main" "footer footer footer";
  margin-top: 1%; }

.navbar {
  grid-area: header;
  display: grid;
  grid-template-columns: repeat(20, 1fr);
  align-items: center;
  width: 100%; }
  .navbar ul {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    grid-column: 17/20; }
  .navbar .navbar_Xe {
    width: 2rem; }
  .navbar .navbar_profil {
    width: 3rem;
    border-radius: 50%;
    grid-column: 20/21; }

.main {
  grid-area: main;
  display: grid;
  grid-template-columns: repeat(12, 1fr);
  grid-template-rows: repeat(12, 1fr); }
  .main .main_logo {
    grid-column: 6/9;
    grid-row: 2/6;
    width: 20rem; }
  .main .main_searchbox {
    grid-column: 5/11;
    grid-row: 6/8;
    display: flex;
    border: 0.05rem #f2f2f2 solid;
    justify-content: flex-start;
    align-items: center;
    height: auto;
    height: 3.5rem;
    width: 70%;
    border-radius: 3rem; }
    .main .main_searchbox input[type="text"] {
      width: 50rem;
      border: none;
      height: 3rem;
      -webkit-tap-highlight-color: transparent; }
    .main .main_searchbox input[type="text"]:hover {
      text-decoration: none; }
    .main .main_searchbox input[type="text"]:focus {
      border: none; }
    .main .main_searchbox .main_searchbox_loop {
      margin: 2% 0%;
      padding: 1%; }
      .main .main_searchbox .main_searchbox_loop svg {
        width: 2rem; }
    .main .main_searchbox .main_searchbox_micro {
      margin: 2%;
      padding: 1%; }
      .main .main_searchbox .main_searchbox_micro svg {
        width: 1.5rem; }
  .main .main_buttons {
    grid-column: 5/9;
    grid-row: 8/9;
    display: flex;
    justify-content: space-evenly;
    margin-bottom: 2%; }
    .main .main_buttons input[type="button"] {
      padding: 2%;
      border: none;
      background-color: #f2f2f2;
      border-radius: 2%; }
  .main .main_language {
    grid-column: 6/10;
    grid-row: 10/11;
    letter-spacing: 0.05rem; }
    .main .main_language a:link {
      padding: 1%;
      text-decoration: none; }

.footer {
  grid-area: footer;
  position: absolute;
  bottom: 0px;
  width: 100%; }
  .footer .footer_country {
    padding: 1% 2%;
    background-color: #f2f2f2; }
  .footer .footer_line {
    border-bottom: 0.1rem #DADCE0 solid;
    box-shadow: 0.05rem 0.05em #DADCE0; }
  .footer .footer_navbar {
    padding: 1% 2%;
    background-color: #f2f2f2; }
    .footer .footer_navbar ul {
      display: flex;
      flex-direction: row;
      justify-content: space-between;
      width: 50%; }
