@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;400;700&display=swap');
html {
    font-family: 'Open Sans';
    font-weight: 300;
    font-size: 0.85rem;
    color: #616161;
}

* {
    color: #707070;
}